/* Main landing */
.header {
    text-align: center;
    padding: 1.5vh;
    border-bottom: 0.1vh solid #6a6363;
    padding-top: 13vh;
}
  
.header h5 {
    font-size: 16px;
    margin-bottom: 1px;
}

.mainText{
    color: var(--first-color);
}
  
.header h1 {
    font-size: 48px;
    margin-bottom: 1.5px;
}
  
.header .accent {
    font-style: italic;
}

/* Social links */
.socials {
    display: flex;
    justify-content: center;
    margin-top: 1vh;
}

.socials a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 12px;
    color: var(--text-color);
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s ease;
}

.socials a:hover {
    color: var(--first-color);
}

/* Buttons */
.buttons{
    padding-top: 6vh;
    padding-bottom: 3vh;
}

.button {
    background-color: var(--first-color); 
    padding: 16px 32px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 6px;
    cursor: pointer;
    border-radius: 16px;
    margin-top: 1vh;
    transition: background-color 0.3s ease-in-out, opacity 0.3s ease-in;
}
  
.button:hover {
    background-color: #ff491b76; 
}

/* Featured */
.featured{
    text-align: center;
    padding-top: 3vh;
}

.featuredProjects {
    display: flex;
    justify-content: space-between;
    margin: 10vh;
    margin-bottom: 17vh;
}
.project {
    width: 30%;
    background-color: #3a3a3a;
    padding: 1.3rem;
    border-radius: 1.3rem;
    border: 1px solid transparent;
    text-align: center;
    overflow: hidden;
    transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.featuredProjects:hover .project:not(:hover) {
    transform: scale(0.8);
}

.project:hover {
    border-color: var(--first-color);
    transform: scale(1.35);
    cursor: pointer;
}

.projectImage {
    width: 100%;
    height: 85%;
    border-radius: 0.3rem;
    margin-bottom: 1rem;
}

.project h3 {
    margin-top: 0.5rem;
    font-size: 18px;
    color: var(--text-color);
}

/* Dark mode button */
/* .darkmodeButton {
    padding: 16px 32px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1.5rem;
    color: white;
    background-color: black;
    border-radius: 16px;
} */