nav {
    background: var(--nav-color);
    width: max-content;
    display: block;
    padding: 12px 28px;
    z-index: 2;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 32px;
    display: flex;
    gap: 12px;
    border-radius: 48px;
    backdrop-filter: blur(24px);
    transition: background-color 0.3s ease; 
}

nav a {
    background: transparent;
    padding: 12px;
    border-radius: 24px; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--first-color);
    font-size: 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav a:hover {
    background: var(--body-color);
}

nav a.active {
    background: #545454;
    opacity: 0.65;
    transition: background-color 0.3s ease, opacity 0.3s ease;
}