@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* Dark Mode Styles */
:root{
  --first-color: #ff491b; 
  --text-color: #ffffff; 
  --body-color: #2b2d2f;
  --nav-color: #707070;
  --card-color: #3a3a3a;
  --darkmode-button-color: #ffffff;
}

/* Light Mode Styles */
.light-mode {
  --first-color: #ff491b; 
  --text-color: #000000; 
  --body-color: #e9e9e9;
  --nav-color: #7e7e7e;
  --card-color:#bebebe;
  --darkmode-button-color: #000000;
}

body {
  background-color: var(--body-color);
  color: var(--text-color);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Open Sans", Arial, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.darkmodeToggle {    
  background-color: var(--darkmode-button-color);
  padding: 16px 32px;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  border-radius: 16px;
  position: absolute;
  top: 13vh;
  right: 20vh;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}